<!--The content below is only a placeholder and can be replaced.-->
<div style="background:#0593d3;">
  <h1>Welcome to {{ title }}</h1>
</div>
<div>
    <a routerLink="" class="show-a" (click)="handleClick('复位')" [class.active]="'复位'==state">复位</a>
  <a routerLink="/shopList" class="show-a" (click)="handleClick('shopList')" [class.active]="'shopList'==state">shopList</a>
  <a routerLink="/dashboard" class="show-a" (click)="handleClick('dashboard')" [class.active]="'dashboard'==state">dashboard</a>
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>

