.dis-inline{
    font-size: 1rem;
    display: inline;
}
.bgbo{
    display: inline-block;
    border-radius: 1rem;
    border: 0.1rem solid lightcyan;
    margin-left: 0.7rem;
    padding: 0.5rem 0.8rem;
    background: lemonchiffon;
    cursor: pointer;
}
.change{
    color:#000;
    background: transparent;
    border: 0.1rem solid red;
}
