.dis-inline{
    font-size: 1rem;
    display: inline;
}
.bgbo{
    display: inline-block;
    border-radius: 1rem;
    color: #000;
    border: 0.1rem solid lightcyan;
    margin-left: 0.7rem;
    padding: 0.5rem 0.8rem;
    background: lemonchiffon;
    text-decoration: none;
}

